/* HomeOutro.css */

/* Main container: stacked vertically */
.outro-section {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 87%;
    padding: 80px 80px 80px 80px;
    align-items: center; /* Center items horizontally */
    gap: 80px;
    margin: 0 auto; /* Center the container */
    background: #F2F4F8;
  }
  
  /* Text container: center the text */
  .outro-text {
    text-align: center;
  }
  
  /* Header and paragraph styles */
  .outro-text h1 {
    font-size: 3rem;
    margin-bottom: 45px;
  }
  
  .outro-text p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
  
  /* Image container: display images in a row */
  .outro-image {
    display: flex;
    justify-content: center; /* Center the images within the container */
    gap: 40px; /* Space between images */
    width: 100%;
  }
  
  /* Each image styling */
  .outro-image img {
    flex: 1;               /* Allow images to grow equally */
    max-width: 800px;      
    width: 100%;
    height: 450px;
    object-fit: cover;
  }

  /* ExampleComponent.css */
.button-container {
    text-align: center; /* Center the button if desired */
    margin-top: 20px;
  }
  
  .navigate-button {
    padding: 10px 10px;
    font-size: 1rem;
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigate-button:hover {
    background-color: green;
  }
  
  